	<a class="comment-form-toggle" id="comment-form-toggle-<%= r.id.to_s%>" class="" data-toggle="collapse" href="#comment-textarea-<%= r.id.to_s%>">comment</a>
	<a class="comment-show-toggle" id="comment-show-toggle-<%= r.id.to_s%>" data-id="<%= r.id.to_s %>" href="#">show more comments</a>
