<div class="flag-form">
	<div class="input-prepend flag-time-input pull-left">
		<span class="add-on pull-left">Time</span>
		<%= f.text_field :minute, {:class => 'input-mini flag-time', :placeholder => "00"}  %>	
		<%= f.text_field :second, {:class => 'input-mini flag-time', :placeholder => "00"}  %>
	</div>

	<div class="input-prepend flag-body-input">
		<span class="add-on pull-left">Comment</span>
		<%= f.text_field :body, {:class => 'flag-body'} %>
	</div>
    <%= f.hidden_field :user_id, :value => current_user.id %>

</div>