<div class="flag-form">
	<div class="input-prepend flag-time-input pull-left">
		<span class="add-on pull-left">Time</span>
		<%= f.text_field :rawtime, {:class => 'input-mini flag-time', :placeholder => "00:00"}  %>
	</div>
	<div class="input-prepend flag-body-input">
		<span class="add-on pull-left">Comment</span>
		<%= f.text_field :body, {:class => 'flag-body'} %>
	</div>
</div>