<body class="homepage-body">

	<header class="navbar navbar-inverse navbar-fixed-top" id="">
	  <nav class="navbar-inner">
	    <div class="container-fluid">
	    	<div class="row-fluid">
					<%= render 'layouts/navigation' %>
	    	</div>
	    </div>
	  </nav>
	</header>

	<div class="homepage-container">
		<div class="homepage-band" id="band-1">
			<div class="container">
				<div class="homepage-form-container" id="signup-form">
					<%= render 'devise/registrations/signup' %>
				</div>
				<div class="" id="homepage-logo">
					<%= image_tag "WhiteLogoSword.png", :class => "animated fadeInDown"%>
					<h3>The newest way to master League of Legends.</h3>
				</div>
				<div class="homepage-form-container" id="signin-form">
					<%= render 'devise/sessions/signin' %>				
				</div>
			</div>
		</div>

		<div class="homepage-band" id="band-2">
			<div class="container">
				<div class="btn-group">
					<%#= link_to "Register", new_user_registration_path, :class => 'btn btn-secondary' %>
					<%#= link_to "Sign in", new_user_session_path, :class => 'btn btn-secondary' %>
					<div class="btn btn-secondary" id="signup-button">Register</div>
					<div class="btn btn-secondary" id="signin-button">Sign in</div>
				</div>
			</div>
		</div>

		<div class="homepage-band" id="band-3">
			<div class="container">
				<div class="row">
					<ul class="homepage-wells">
						<li>
							<div class ="span4">
								<div class="homepage-well animated fadeInUp">
									<h2>Upload</h2>
									<p>Share videos of your gameplay to learn from the LoLCritic community.  Wait for feedback and take your new knowledge to the Fields of Justice!</p>
								</div>
							</div>
						</li>
						<li>
							<div class="divider">
							</div>
						</li>
						<li>
						  <div class="span4">
						    <div class="homepage-well animated fadeInUp">
						      <h2>Review</h2>
						      <p>Advise your fellow summoners by leaving helpful tips.  Ease the burden of learning a new champion or position for inexperienced players.</p>
						    </div>
						  </div>
						</li>
						<li>
							<div class="divider">
							</div>
						</li>
						<li>
						  <div class="span4">
						    <div class="homepage-well animated fadeInUp">
						      <h2>Learn</h2>
						      <p>Enhance your understanding of the game by watching videos and reading reviews.  Browse for videos that focus on areas of gameplay you want to improve.</p>
						    </div>
						  </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">

	</div>
</body>