<body class="homepage-body">

	<header class="navbar navbar-inverse navbar-fixed-top" id="">
	  <nav class="navbar-inner">
	    <div class="container">
	      <%= render 'layouts/navigation' %>
	    </div>
	  </nav>
	</header>

	<div class="homepage-container">
		<div class="homepage-band" id="band-1">
			<div class="container">
				<h1>LoLCritic</h1>
				<h4>Connecting beginners &amp; experts through a strong learning community.</h4>
			</div>
		</div>

		<div class="homepage-band" id="band-2">
			<div class="container">
				<div class="btn-group">
					<%= link_to "Register", new_user_registration_path, :class => 'btn btn-inverse' %>
					<%= link_to "Sign in", new_user_session_path, :class => 'btn btn-inverse' %>
				</div
			</div>
		</div>

		<div class="homepage-band" id="band-3">
			<div class="container">
				<div class="row">
					<ul class="homepage-wells">
						<li>
							<div class ="span4">
								<div class="homepage-well">
									<h3>Upload</h3>
									<p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
								</div>
							</div>
						</li>
						<li>
							<div class="divider">
							</div>
						</li>
						<li>
						  <div class="span4">
						    <div class="homepage-well">
						      <h3>Critique</h3>
						      <p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
						    </div>
						  </div>
						</li>
						<li>
							<div class="divider">
							</div>
						</li>
						<li>
						  <div class="span4">
						    <div class="homepage-well">
						      <h3>Learn</h3>
						      <p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
						    </div>
						  </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
	</div>
</body>