<body class="homepage-body">

	<header class="navbar navbar-fixed-top" id="">
	  <nav class="navbar-inner">
	    <div class="container">
	      <%= render 'layouts/navigation' %>
	    </div>
	  </nav>
	</header>

	<div class="homepage-container">
		<div class="homepage-band" id="band-1">
			<div class="container">
				<h1>LoLCritic</h1>
				<h4>Connecting beginners &amp; experts through a strong learning community.</h4>
			</div>
		</div>

		<div class="homepage-band" id="band-2">
			<div class="container">
			</div>
		</div>
		
		<div class="homepage-band" id="band-3">
			<div class="container">
				<div class="row">
					<div class ="span4">
						<div class="homepage-well">
							<h3>Upload</h3>
							<p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
						</div>
					</div>
				  <div class="span4">
				    <div class="homepage-well">
				      <h3>Critique</h3>
				      <p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
				    </div>
				  </div>
				  <div class="span4">
				    <div class="homepage-well">
				      <h3>Learn</h3>
				      <p>asdj hdahds hasdhr ahsdgha shdfhasd fasjdf hjs</p>
				    </div>
				  </div>
				</div>
			</div>
		</div>

	</div>
	<div id="footer">
	</div>
</body>