<div class="hero-unit">
	<h1>LoLCritic</h1>
	<p>Connecting beginners &amp; experts through a strong learning community.</p>
</div>

<div class="row main-features">
	<div class ="span4">
		<div class="well">
			<%= render "devise/registrations/signup" %>
		</div>
	</div>
  <div class="span4">
    <div class="well">
      <%= render "devise/sessions/signin" %>
    </div>
  </div>
</div>