<% unless @homepage %>
	<% content_for :page_title do %>
	Browse Videos
	<% end %>
<% end %>
<div id="homepage-filters-content" class="row-fluid content">
	<div id="filters-container" class="span3">
		<%= render "videos/filters" %>
	</div>
</div>
<div id="homepage-videos-content" class="row-fluid content">
	<div id="filters-space-holder" class="span3">
	</div>
	<div id="videos-container" class="span9">
		<%= render "videos/index" %>
	</div>
</div>

<%= javascript_include_tag "jquery.hoverdir.js" %>
<script type="text/javascript">
	$('ul.thumbnail-list > li').each(function(){
		$(this).hoverdir();
	});
</script>