<div id="flags">
	<div class="flag" id="flag_0" onclick="flagClick(88,0)">
		<div class="flag-info">
			1:28 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag active" id="flag_1" onclick="flagClick(145,1)">
		<div class="flag-info">
			2:25 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag" id="flag_2" onclick="flagClick(281,2)">
		<div class="flag-info">
			4:41 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag" id="flag_3" onclick="flagClick(369,3)">
		<div class="flag-info">
			6:09 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag" id="flag_4" onclick="flagClick(88,4)">
		<div class="flag-info">
			1:28 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag active" id="flag_5" onclick="flagClick(145,5)">
		<div class="flag-info">
			2:25 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag" id="flag_6" onclick="flagClick(281,6)">
		<div class="flag-info">
			4:41 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
	<div class="flag" id="flag_7" onclick="flagClick(369,7)">
		<div class="flag-info">
			6:09 | user278528
		</div>
		<div class="flag-content">
			ajhg asdkfhj asfweaio ghaj bjg jkgjs dgajsd jweahu fasfh shjf ajsdfh ashf kjsdfhjwa hjefha
		</div>
	</div>
</div>