$ThemePrimary: #0159A7;
$ThemeSecondary: #0138AD;
$ThemeAlternate: #0082A0;
$ThemeWhite: #f7f7f7;
$ThemeBlack: #070707;
$ThemeGray: #444444;
$ThemeDarkGray1: #363636;
$ThemeDarkGray2: #222;
$ThemeLightGray: #BBBBBB;
$ThemeBlue1: #0159A7;