$ThemePrimary: #0159A7;
$ThemeSecondary: #0138AD;
$ThemeAlternate: #0082A0;
$ThemeWhite: #fcfcfc;
$ThemeBlack: #070707;
$ThemeGray: #444444;
$ThemeGray1: #606060;
$ThemeGray2: #999999;
$ThemeGrayo: rgba(44,44,44,.95);
$ThemeDarkGray1: #363636;
$ThemeDarkGray2: #222;
$ThemeLightGray: #BBBBBB;
$ThemeLightGray2: #DDDDDD;
$ThemeLightGray3: #EEEEEE;
$ThemeBlueGray: #E0E9F0;
$ThemeBlue1: #2966bb;
$ThemeBlue2: #3488cc;
$ThemeBlue2o: rgba(51,136,204,.4);
//$ThemeBlue1:#27ae60;
//$ThemeBlue2:#2980B9;
//$ThemeBlue1: #0159A7;
$ThemeGreen: #55bb55;
$ThemeRed: #bb5555;