$ThemePrimary: #0159A7;
$ThemeSecondary: #0138AD;
$ThemeAlternate: #0082A0;
$ThemeWhite: #f7f7f7;
$ThemeBlack: #070707;
$ThemeGray: #444444;
$ThemeDarkGray1: #363636;
$ThemeDarkGray2: #222;
$ThemeLightGray: #BBBBBB;
$ThemeLightGray2: #DDDDDD;
$ThemeBlueGray: #E0E9F0;
$ThemeBlue1: #3366bb;
$ThemeBlue2: #3388cc;
//$ThemeBlue1: #0159A7;
$ThemeGreen: #55bb55;
$ThemeRed: #bb5555;