// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
.review-comments {
	width: 100%;
	padding-top:5px;
}
.comment {
	min-height: 50px;
	margin-left: 40px;
	padding-top: 5px;
	padding-bottom:5px;
	font-size: 13px;
	//border-left: $ThemeLightGray solid 1px; 
	border-top: $ThemeLightGray3 solid 1px; 
	//border-right: $ThemeLightGray dotted 1px; 
	position: relative;
	//background-color: #fff;
}

/*.comment:before {
	content: '';
	width:150px;
	height:0px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: $ThemeLightGray solid 1px; 
}*/
.comment:first-child {
	//border-top-left-radius: 3px;
	//border-top: $ThemeLightGray2 solid 1px;
}
.comment:first-child:before {
	border-top: none;
}
.comment-rating {
	margin-right:5px;
	margin-left: 5px;
}
.comment .comment-rating-container {
	width:25px;
	height: 100%;
	text-align: center;
	color: $ThemeLightGray;
}
.comment .comment-rating .postive-rating {
	color: $ThemeBlue1;
}

.comment-rating .upvote-container {
	width: 100%;
	height: 13px;
	line-height: 13px;
	margin-top:2px;

}
.comment-rating .downvote-container {
	width: 100%;
	height: 13px;
	line-height: 13px;
	margin-bottom: 2px;
}
.comment-rating .rating-container {
	width: 100%;
	height: 20px;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
}
.comment-rating .comment-rating-value {
	line-height: 20px;
}
.comment-show-toggle {
}
.comment-form-toggle {
	padding-right: 10px;
}
.comment-footer {
	font-size: 12px;
	width: 100%;
	margin-left: 40px;
	border-top: $ThemeLightGray3 solid 1px; 
}
.comment-form {
	width: 100%;
	margin-left: 40px;

}
.comment-list {
	width: 100%;
}

.comment-user {
	color: $ThemeBlue1;
	font-weight: bold;
	width: 100%;
}
.comment-time {
	color: $ThemeLightGray;
	font-size: 11px;
}
.comment-body {
	width: 100%;
}
.comment-accordion {
	margin-bottom: 5px;
}
.comment-form-textarea {
	height:50px;
	resize: none;
	margin-bottom: 5px;
}
.comment-hidden {
	display: none
}
.comment-show-toggle {
	display:none;
}