@import "colors";
.review {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-top: 1px $ThemeLightGray2 solid;
	border-top-left-radius: 5px;

}
.review .review-rating {
	width:40px;
	height: 100%;
	text-align: center;
	margin-right: 0px;
	padding-top: 5px;
	color: $ThemeLightGray;
	border-left: 1px $ThemeLightGray2  solid;
	border-top-left-radius: 5px;
}
.review .review-rating .postive-rating {
	color: $ThemeBlue1;
}
.review-rating .upvote-container {
	width: 40px;
	height: 20px;
}
.review-rating .rating-container {
	width: 40px;
	height: 20px;
	font-weight: bold;
	font-size: 18px;
}
.review-rating .downvote-container {
	width: 40px;
	height: 20px;
}
.review-content {
	overflow: hidden;
	padding-bottom: 2px;
	min-height: 50px;

}
.review-info {
	padding-top: 5px;


}
.review-info .review-user {
	color: $ThemeBlue1;
	font-weight: bold;
	width: 100%;
}
.review-info .review-time {
	color: $ThemeLightGray;
	font-size: 11px;
}
.review-body {
	word-wrap: break-word;
	min-height: 29px;
}
.review-flags {
	margin-top: 8px;
	font-size: 13px;
}
.review-flags .review-flag {
	width: 100%;
	margin-top: 5px;
	border-radius: 3px;
}
.review-flags .review-flag .btn {
	color: $ThemeGray1;

}
.review-flags .review-flag .review-flag-time {
	color: $ThemeBlue1;
	font-weight: bold;
	margin: 1px 5px 0px 5px;

}
.review-flags .review-flag .review-flag-body {
	word-wrap: break-word;
	padding: 0px 4px 0px 4px;
	border: solid 1px $ThemeLightGray2;
	border-radius: 3px;
	display: inline-block;
	max-width: 740px;
}

.vote-icon {
	color: $ThemeLightGray;
}
.vote-icon:hover {
	color: $ThemeBlue2;
	text-decoration: none;
}
.voted {
	color: $ThemeBlue1;
}

