// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "colors";
.review {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 5px;
	border-top: 1px $ThemeBlue2o solid;
	border-top-left-radius: 5px;

}
.review .review-rating {
	width:40px;
	height: 100%;
	text-align: center;
	margin-right: 0px;
	padding-top: 5px;
	color: $ThemeLightGray;
	border-left: 1px $ThemeBlue2o solid;
	border-top-left-radius: 5px;



}
.review .review-rating .postive-rating {
	color: $ThemeBlue1;
}
.review-rating .upvote-container {
	width: 40px;
	height: 20px;
}
.review-rating .rating-container {
	width: 40px;
	height: 20px;
	font-weight: bold;
	font-size: 18px;
}
.review-rating .downvote-container {
	width: 40px;
	height: 20px;
}
.review-content {
	overflow: hidden;
	padding-bottom: 2px;
	min-height: 50px;

}
.review-info {
	padding-top: 5px;


}
.review-info .review-user {
	color: $ThemeBlue1;
	font-weight: bold;
	width: 100%;
}
.review-info .review-time {
	color: $ThemeLightGray;
	font-size: 11px;
}
.review-body {
	word-wrap: break-word;
	background-color: #fff;
	padding: 4px 8px;
	border: solid 1px $ThemeLightGray2;
	border-radius: 5px 0 0 0;
	min-height: 29px;
}
.review-flags {
	margin-top: 8px;
	font-size: 13px;
}
.review-flags .review-flag {
	width: 100%;
	margin-top: 5px;
}
.review-flags .review-flag .btn {
	margin-top: -2px;
	color: $ThemeGray1;
}
.review-flags .review-flag .review-flag-time {
	color: $ThemeBlue1;
	font-weight: bold;
}
.review-flags .review-flag .review-flag-body {
	word-wrap: break-word;
}

.vote-icon {
	color: $ThemeLightGray;
}
.vote-icon:hover {
	color: $ThemeBlue2;
	text-decoration: none;
}
.voted {
	color: $ThemeBlue1;
}

