// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
/* VIDEO LISTINGS */

.video-list {

}
.video-listing {
	padding-top:8px;
	padding-left: 8px;
	//border-bottom: 1px solid $ThemeLightGray;
	margin-top: 0px;
	position:relative;
}

.video-listing:nth-child(even) {
//	box-shadow:  0 5px 5px -5px $ThemeDarkGray1,
//				 0 -5px 5px -5px $ThemeDarkGray1;
//	z-index: 1;
}

.video-listing:nth-child(odd) {
	background-color: $ThemeBlueGray;
//	z-index: 0;

}

.thumbnail-link {
	vertical-align: middle;
}

.thumbnail-crop {
    width: 176px;
    height: 102px;
    overflow: hidden;
}

.thumbnail-crop img {
    width: 176px;
    margin: -16px 0 0 0;
}

.video-listing-info {
	height: 102px;
}

.video-listing-header {
	height:40px;
	margin-bottom: 2px;
}

.video-listing-title {
	font-weight: bold;
	font-size: 12pt;
	color: $ThemeBlue1;
	margin-bottom:0px;
}
.video-listing-uploader {

}

.video-listing-upload {
	font-size: 10pt;
	line-height: 16px;
}
.video-listing-body {
	height:60px;
	//position:relative;
}

.video-listing-tags {
	font-size: 10pt;
	line-height: 16px;
}

.video-listing-tags table {
	height:60px;
}
.video-listing-tags td {
	min-width: 59px;
	padding-right:15px;
}
.video-listing-vs-cell {
	padding: 0 10px;
}
.video-listing-description {
}
.video-listing-description u {
	text-decoration: none;
	font-weight: bold;
	color: $ThemeBlue1;
}
.champion-image {
	border: 3px solid #55bb55;
	margin-bottom: 6px;
}
.opponent-image {
	border: 3px solid #bb5555;
}

.video-listing-focus {
	font-size: 10pt;
	line-height: 16px;
	padding: 4px 5px 6px 0px;
}
.video-listing-focus u {
	text-decoration: none;
	font-weight: bold;
	color: $ThemeBlue1;
	padding-right:4px;
}

/* FILTERS */

#filters-header {
	height: 40px;
	width: 100%;
	background-color: $ThemeBlue1;
	color: $ThemeWhite;
	font-size: 14px;
}
#filters-header p {
	padding-top: 10px;
	padding-left: 15px;
}


/* UPLOAD FORM */
.upload-header {

	background: $ThemeBlue1;
	margin: 30px 0px 20px 100px;
	padding: 5px 15px;
	color: $ThemeWhite;
	width:384px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	//border-top-left-radius: 10px;
	//border-top-right-radius: 10px;
}
.upload-header .header {
	margin: 0px;
}
.a {
	background-color: $ThemeLightGray;
}


