<% if r.flags.length > 0 %>
	<% r.flags.each do |f| %>
		<div class="review-flag">
			<%= link_to add_flag_path(:id => f.id), :class => 'btn btn-secondary btn-mini pull-left', :remote => true do %>
				<i class='fa fa-align-justify'></i>
			<% end %>
				<div class="review-flag-time pull-left"><%= f.get_time_string() %></div>
				<div class="review-flag-body"><%= f.body %></div>
		</div>
	<% end %>
<% end %>