<% if r.flags.length > 0 %>
	<% r.flags.each do |f| %>
		<div class="review-flag">
			<%= link_to add_flag_path(:id => f.id), :class => 'btn btn-success btn-mini', :remote => true do %>
				<b>+</b> <i class='icon-flag icon-white'></i>
			<% end %>
			<text class="review-flag-time"><%= f.minute %>:<%= f.second %></text>
			<text class="review-flag-body"><%= f.body %></text>
		</div>
	<% end %>
<% end %>